<html>
  <head>
    <meta charset="utf-8" />
    <title>Share Code</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css"
      integrity="sha512-6sALqOPMrNSc+1p5xOhPwGIzs6kIlST+9oGWlI4Wwcbj1saaX9J3uzO3Vub016dmHV7hM+bMi/rfXLiF5DNIZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://codemirror.net/theme/juejin.css" />
    <link rel="stylesheet" href="https://codemirror.net/theme/3024-night.css" />
    <link
      rel="stylesheet"
      href="https://www.polonel.com/dist/snackbar.min.css"
    />
  </head>
  <body class="dark">
    <header>
      <h1>Share Code</h1>
    </header>
    {{{body}}}

  </body>
</html>