<div class="container--instructor d-none">
  <div class="files">
    <div class="room-info">
      <p>Room: <b>53563</b> </p>
    </div>

    <p>Files 📂</p>
    <ul class="file-names">
      {{! <li>
        <p>test<b>.sql</b> </p>
      </li>
      <li>
        <p>test<b>.js</b> </p>
      </li>
      <li>
        <p>test<b>.tsx</b> </p>
      </li> }}
    </ul>
  </div>
  <div class="code">
    <textarea id="code"></textarea>
  </div>
  <div class="attendees">
    <p>Attendees 👥</p>
    <ul class="attendee-list">
      {{! <li>
        <div class="avatar instructor">KP</div>
        <p>Kevin Powell</p>
      </li>
      <li>
        <div class="avatar">AK</div>
        <p>Akifcan Kara</p>
      </li>
      <li>
        <div class="avatar">JF</div>
        <p>Jfla</p>
      </li> }}
    </ul>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
></script>
<script src="https://www.polonel.com/dist/snackbar.min.js"></script>
<script type="module" src="/scripts/index.js"></script>