<main class="container--chose-theme">
  <h1>Choose your theme</h1>
  <div class="box light-theme" data-theme="light"></div>
  <div class="box dark-theme" data-theme="dark"></div>
</main>

<script src="/scripts/chooseTheme.js"></script>