<div class="container--join flex-center flex-column" style="--gap: 1rem">
  <div aria-expanded="true" class="wizard active first flex-center flex-column">
    <h1>Welcome to Share Code </h1>
    <input type="text" placeholder="Enter your name" id="username" />
    <button id="get-username">Continue</button>
  </div>
  <div aria-expanded="false" class="wizard second flex-center flex-column">
    <h1>Create Room or Join</h1>
    <input type="text" placeholder="Room Id" id="roomId" />
    <button id="join">Join</button>
    <button id="create-room">Create</button>
  </div>
</div>

<div class="select-mode">
  <p>Select Mode</p>
  <ul>
  </ul>
</div>

<form class="create-file flex-center flex-column" style="--gap: 1rem">
  <h2>Share File with attendees</h2>
  <input required type="text" id="file-name" placeholder="File name" />
  <button type="submit" id="share">Share</button>
  <button type="reset" id="back">Back</button>
</form>

<div class="container--instructor d-none">
  <div class="files">

    <button class="mode">Select Mode ↘</button>

    <div class="room-info">
      <p>Room: <b>53563</b> </p>
    </div>

    <p>Files 📂</p>
    <ul class="file-names">
      {{! <li>
        <p>test<b>.sql</b> </p>
        <button class="remove" title="Remove">❌</button>
      </li>
      <li>
        <p>test<b>.js</b> </p>
        <button class="remove" title="Remove">❌</button>
      </li>
      <li>
        <p>test<b>.tsx</b> </p>
        <button class="remove" title="Remove">❌</button>
      </li> }}
    </ul>
  </div>
  <div class="code">
    <textarea id="code"></textarea>
    <p class="current-mode">Working with:
      <img src="/images/languages/javascript.png" alt="javascript" />
      <b>Javascript</b>
    </p>
    <button class="save-code">Save and share 👩‍💻👨‍💻</button>
  </div>
  <div class="attendees">
    <p>Attendees 👥</p>
    <ul class="attendee-list">
      {{! <li>
        <div class="avatar instructor">KP</div>
        <p>Kevin Powell</p>
      </li>
      <li>
        <div class="avatar">AK</div>
        <p>Akifcan Kara</p>
      </li>
      <li>
        <div class="avatar">JF</div>
        <p>Jfla</p>
      </li> }}
    </ul>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
  integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://www.polonel.com/dist/snackbar.min.js"></script>
<script type="module" src="/scripts/instructor.js"></script>