<div class="session-end--container flex-center flex-column" style="--gap: 2rem">
  <img
    src="/images/vectors/sessionend.png"
    alt="session end thanks for joined"
  />
  <h1>Session End</h1>
  <p>
    Thanks for your participation
  </p>

  <div class="flex-center">
    <a href="/" role="button">
      Join New Room
    </a>
    <a href="/" target="_blank" role="button" class="source">
      👨‍💻 Source 👩‍💻
    </a>
  </div>
</div>