@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --font-montserrat: "Montserrat";
  --color-sea: #006994;
  --color-white: #f6f6f6;
  --color-dark: #333;

  --background-color: #333;

  --text-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

/* @media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
 */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

body {
  background-color: var(--background-color);
}

body > * {
  color: var(--text-color);
}

body.dark {
  --background-color: #333;
  --text-color: #f6f6f6;
}

body.light {
  --background-color: #dedede;
  --text-color: #111;
}
button {
  cursor: pointer;
}

header {
  background-color: var(--color-sea);
  padding: 0.5rem;
  text-align: center;
}

header h1 {
  font-weight: 300;
  color: var(--color-white);
}

/* Utils */

.flex-center {
  display: flex;
  justify-content: center;
  gap: var(--gap, 0);
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none !important;
}

/* Utils End */
.container--chose-theme {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.box {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 5rem;
  border-radius: 0.5rem;
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
}

.box:hover {
  transform: scale(1.2);
}

.box.light-theme {
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box.light-theme::before {
  transform: translate(-50%, -1000%);
  color: var(--color-black);
  content: "Light";
}

.box.dark-theme {
  background-color: black;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.box.dark-theme::before {
  content: "Dark";
  color: var(--color-white);
  transform: translate(-50%, 1000%);
}

.box.light-theme:hover::before,
.box.dark-theme:hover::before {
  transform: translate(-50%, -50%);
}

.container--join {
  position: relative;
  min-height: 20em;
  border-bottom: 5px solid var(--color-sea);
}

input {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: block;
  transition: border 100ms linear;
}

input:active,
input:focus {
  border-bottom: 5px solid var(--color-sea);
}

.container--join button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--color-sea);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--color-white);
}

.wizard {
  position: absolute;
  inset: 0;
  transition: transform 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.wizard.active {
  transform: translateX(0);
}

.wizard:not(.active) {
  transform: translateX(-100%);
}

.container--instructor {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  min-height: 90vh;
  padding: 1rem;
  gap: 1rem;
}

.file-names {
  margin-block: 1rem;
  list-style: none;
}

.container--instructor li {
  margin-block: 1rem;
  display: flex;
}
.file-names li {
  justify-content: space-between;
  transition: padding 250ms linear, background-color 250ms linear;
}

.file-names li:hover,
.file-names li.active {
  padding: 0.5rem;
  background-color: #006992;
}

body.light .file-names li:hover,
body.light .file-names li:active {
  color: var(--color-white);
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: var(--color-sea);
  color: var(--color-white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-transform: uppercase;
}

.avatar.instructor {
  border-radius: 10px;
}

.attendee-list li {
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
}

.attendee-list li p {
  text-transform: capitalize;
  flex: 1;
}

.room-info {
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  margin-block-end: 1rem;
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-sea);
}

.room-info b {
  user-select: all;
}

.save-code {
  border: none;
  padding: 1rem;
  width: 100%;
  text-transform: capitalize;
  background-color: var(--color-sea);
  color: var(--color-white);
  border-radius: 0.5rem;
  transition: box-shadow 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

body.dark .save-code {
  --color-shadow: var(--color-white);
}

body.light .save-code {
  --color-shadow: var(--color-dark);
}

.save-code:hover,
.save-code:active,
.save-code:focus {
  box-shadow: 10px 10px 0 5px var(--color-shadow);
}

.mode {
  width: 100%;
  background-color: var(--color-sea);
  padding: 0.3rem 1rem;
  color: var(--color-white);
  margin-block-end: 1rem;
  border: none;
  outline: none;
}

.select-mode {
  display: none;
  text-transform: capitalize;
  position: absolute;
  width: 40%;
  min-height: 10rem;
  background-color: var(--background-color);
  filter: invert(1);
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  border-end-end-radius: 2rem;
  border-end-start-radius: 2rem;
  --padding-inside: 1rem;
  overflow: hidden;
}

.select-mode.active {
  display: block;
}

.select-mode ul {
  margin-block: 0.2rem;
}

.select-mode p {
  padding: var(--padding-inside);
}

.select-mode ul li {
  cursor: pointer;
  padding-inline: var(--padding-inside);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-mode ul li:hover {
  background-color: var(--color-sea);
}

.current-mode {
  gap: 1rem;
  display: flex;
  align-items: center;
  margin-block: 1rem;
  text-transform: capitalize;
}

.current-mode img {
  width: 4rem;
}

.snackbar-container {
  filter: invert(1);
}

body.dark .create-file {
  background-color: var(--color-white);
  color: var(--color-dark);
}
body.light .create-file {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.create-file {
  padding: 2rem;
  position: absolute;
  top: -200%;
  left: 50%;
  width: 70%;
  min-height: 20em;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 12px;
  box-shadow: 15px 15px 0 5px var(--color-sea);
  border: 5px solid var(--color-sea);
  transition: top 500ms ease-in-out;
}

.create-file.active {
  top: 30%;
}

.create-file button {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0.6rem;
  color: var(--color-white);
  width: 100%;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.create-file button#share {
  background-color: var(--color-sea);
}
.create-file button#back {
  background-color: crimson;
}

.create-file button:hover {
  transform: scale(1.1);
}

.session-end--container img {
  max-width: 70%;
}

.session-end--container a:nth-child(2) {
  color: var(--color-sea);
}

@media (min-width: 1200px) {
  .create-file {
    width: 50%;
  }
  .session-end--container img {
    max-width: 30%;
  }
}

/* Overrides */

.CodeMirror-scroll {
  overflow-y: auto;
}
